.example-card {
  max-width: 350px;
  align-items: center;
  padding: 25px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #2a2b38;
}

mat-form-field {
  width: 100%;
}

.link {
  align-self: flex-end;
}
a,
mat-card-title {
  color: #ffeba7 !important;
}
input {
  color: #2a2b38 !important;
}
button {
  background-color: #ffeba7 !important;
  color: #2a2b38 !important;
  font-size: 16px !important;
  text-transform: uppercase;
}
button:hover {
  background-color: #5e6681 !important;
  color: #ffeba7 !important;
}
