<h1 mat-dialog-title class='d-flex justify-content-between mt-2'>Employee Form <button mat-icon-button
        mat-dialog-close><mat-icon>close</mat-icon></button></h1>
<div mat-dialog-content>
    <mat-card>
        <form [formGroup]='EmployeeDatas' class='mt-3'>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>FirstName</mat-label>
                <input matInput type='text' placeholder='Enter FirstName' formControlName='firstName'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>LastName</mat-label>
                <input matInput type='text' placeholder='Enter LastName' formControlName='lastName'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>MaidenName</mat-label>
                <input matInput type='text' placeholder='Enter MaidenName' formControlName='maidenName'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>Age</mat-label>
                <input matInput type='number' placeholder='Enter Age' formControlName='age'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>Email</mat-label>
                <input type='email' matInput placeholder='Enter Email' formControlName='email'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>PhoneNumber</mat-label>
                <input matInput placeholder='Enter PhoneNumber' type='number' formControlName='phone'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>UserName</mat-label>
                <input matInput placeholder='Enter UserName' type='text' formControlName='username'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>Password</mat-label>
                <input matInput placeholder='Enter Password' type='password' formControlName='password'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>BloodGroup</mat-label>
                <input type='email' matInput placeholder='Enter BloodGroup' formControlName='bloodGroup'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>Height</mat-label>
                <input matInput placeholder='Enter Height' type='number' formControlName='height'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>Weight</mat-label>
                <input matInput placeholder='Enter Weight' type='number' formControlName='weight'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>EyeColor</mat-label>
                <input matInput placeholder='Enter EyeColor' type='text' formControlName='eyeColor'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>BirthDate</mat-label>
                <input formControlName='birthDate' matInput [matDatepicker]='picker'>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]='picker'></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>Domain</mat-label>
                <input matInput placeholder='Enter Domain' type='text' formControlName='domain'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>IP</mat-label>
                <input matInput placeholder='Enter IP' type='text' formControlName='ip'>
            </mat-form-field>
            <div class='d-flex'>
                <div class='me-auto'>
                    <mat-label>Gender :</mat-label> <br>
                    <mat-radio-group formControlName='gender' class='me-2'>
                        <mat-radio-button value='male'>Male</mat-radio-button>
                        <mat-radio-button value='female'>Female</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div formGroupName='hair'>
                    <mat-label>Hair :</mat-label> <br>
                    <mat-form-field appearance='outline' class='me-2'>
                        <mat-label>Color</mat-label>
                        <input matInput placeholder='Enter Color' type='text' formControlName='color'>
                    </mat-form-field>
                    <mat-form-field appearance='outline' class='me-2'>
                        <mat-label>Type</mat-label>
                        <input matInput placeholder='Enter Type' type='text' formControlName='type'>
                    </mat-form-field>
                </div>
            </div>

            <div formGroupName='address'>
                <mat-label>Personal Address :</mat-label><br>

                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>Address</mat-label>
                    <input type='text' matInput placeholder='Enter Address' formControlName='address'>
                </mat-form-field>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>City</mat-label>
                    <input matInput placeholder='Enter City' type='text' formControlName='city'>
                </mat-form-field>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>State</mat-label>
                    <input type='text' matInput placeholder='Enter State' formControlName='state'>
                </mat-form-field>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>PostalCode</mat-label>
                    <input matInput placeholder='Enter PostalCode' type='number' formControlName='postalCode'>
                </mat-form-field>
                <div formGroupName='coordinates'>
                    <mat-label>Coordinates :</mat-label><br>
                    <mat-form-field appearance='outline' class='me-2'>
                        <mat-label>Lat</mat-label>
                        <input matInput placeholder='Enter Lat' type='number' formControlName='lat'>
                    </mat-form-field>
                    <mat-form-field appearance='outline' class='me-2'>
                        <mat-label>Lng</mat-label>
                        <input matInput placeholder='Enter Lng' type='number' formControlName='lng'>
                    </mat-form-field>
                </div>
            </div>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>MacAddress</mat-label>
                <input matInput placeholder='Enter MacAddress' type='text' formControlName='macAddress'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>University</mat-label>
                <input matInput placeholder='Enter University' type='text' formControlName='university'>
            </mat-form-field>
            <div formGroupName='bank'>
                <mat-label>Bank Details :</mat-label> <br>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>CardExpire</mat-label>
                    <input formControlName='cardExpire' matInput [matDatepicker]='picker1'>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]='picker1'></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>CardNumber</mat-label>
                    <input type='number' matInput placeholder='Enter CardNumber' formControlName='cardNumber'>
                </mat-form-field>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>CardType</mat-label>
                    <input matInput placeholder='Enter CardType' type='text' formControlName='cardType'>
                </mat-form-field>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>Currency</mat-label>
                    <input type='text' matInput placeholder='Enter Currency' formControlName='currency'>
                </mat-form-field>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>Iban</mat-label>
                    <input matInput placeholder='Enter Iban' type='text' formControlName='iban'>
                </mat-form-field>
            </div>
            <div formGroupName='company'>
                <mat-label>Company :</mat-label>
                <div formGroupName='address'>
                    <mat-label>Company Address :</mat-label> <br>
                    <mat-form-field appearance='outline' class='me-2'>
                        <mat-label>Address</mat-label>
                        <input type='text' matInput placeholder='Enter Address' formControlName='address'>
                    </mat-form-field>
                    <mat-form-field appearance='outline' class='me-2'>
                        <mat-label>City</mat-label>
                        <input matInput placeholder='Enter City' type='text' formControlName='city'>
                    </mat-form-field>
                    <mat-form-field appearance='outline' class='me-2'>
                        <mat-label>State</mat-label>
                        <input type='text' matInput placeholder='Enter State' formControlName='state'>
                    </mat-form-field>
                    <mat-form-field appearance='outline' class='me-2'>
                        <mat-label>PostalCode</mat-label>
                        <input matInput placeholder='Enter PostalCode' type='number' formControlName='postalCode'>
                    </mat-form-field>
                    <div formGroupName='coordinates'>
                        <mat-label>Coordinates :</mat-label><br>
                        <mat-form-field appearance='outline' class='me-2'>
                            <mat-label>Lat</mat-label>
                            <input matInput placeholder='Enter Lat' type='number' formControlName='lat'>
                        </mat-form-field>
                        <mat-form-field appearance='outline' class='me-2'>
                            <mat-label>Lng</mat-label>
                            <input matInput placeholder='Enter Lng' type='number' formControlName='lng'>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>Department</mat-label>
                    <input matInput placeholder='Enter Department' type='text' formControlName='department'>
                </mat-form-field>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>Name</mat-label>
                    <input type='text' matInput placeholder='Enter Name' formControlName='name'>
                </mat-form-field>
                <mat-form-field appearance='outline' class='me-2'>
                    <mat-label>Title</mat-label>
                    <input matInput placeholder='Enter Title' type='text' formControlName='title'>
                </mat-form-field>
            </div>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>EIN</mat-label>
                <input matInput placeholder='Enter EIN' type='text' formControlName='ein'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>SSN</mat-label>
                <input type='text' matInput placeholder='Enter SSN' formControlName='ssn'>
            </mat-form-field>
            <mat-form-field appearance='outline' class='me-2'>
                <mat-label>UserAgent</mat-label>
                <input matInput placeholder='Enter UserAgent' type='text' formControlName='userAgent'>
            </mat-form-field>
        </form>
    </mat-card>
</div>
<div mat-dialog-actions align='center'>
    <!-- <mat-progress-bar mode='indeterminate'></mat-progress-bar> -->

    <button mat-raised-button type='submit' (click)='onSubmit()' color='primary'>Add Employee</button>
</div>